<% provide(:title, "Sermons") %>

<div class="row tools">
      <h1>Video Sermons</h1>
      <%= link_to "Upload", new_sermon_path, class: "btn btn-primary btn-sm pull-right" %>
</div>

<% @sermons.in_groups_of(4, false).each do |sermon_array| %>	
       <div class="row">
           <% for sermon in sermon_array %>
             <div class="col-md-3" class='sermon'>
                    <object width="250" height="250" data=<%= sermon.link %>></object>
                   <h4><%= link_to sermon.title, sermon  %></h4>
                   <p><%= sermon.preacher %> <br/>
                           <%= sermon.church %> </p>

             </div>
            <% end %>

       </div>
<% end %>

