<% provide(:title,  "New Sermon") %>

<div class="row">
  	<div class="col-md-6 col-md-offset-3">
  	             <h1 class="page-header">Upload a New Sermon</h1>
		 <%= form_for(@sermon) do |f| %>
		      <%= render 'shared/error_messages', object: f.object %>

		      <%= f.label :title %>
		      <%= f.text_field :title %>

		      <%= f.label :preacher %>
		      <%= f.text_field :preacher %>

		      <%= f.label :church %>
		      <%= f.text_field :church %>

		      <%= f.label :link %>
		      <%= f.text_field :link %>

		      <%= f.submit "Upload", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>